@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

span {
  display: block;
}

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 45px;
  position: fixed;
  z-index: 999999;
  background-color: white;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo h1 {
  font-size: 30px;
  color: green;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  font-size: 20px;
  color: blue;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-buttons button {
  background-color: white;
  color: green;
  border: 1px solid green;
  padding: 15px 45px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.ham-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  display: none;
}

.line1,
.line2,
.line3 {
  width: 42px;
  height: 8px;
  background-color: black;
  margin: 3px;
}

@media (max-width: 1000px) {
  .nav-links,
  .nav-buttons {
    display: none;
  }
  .ham-burger {
    display: block;
  }
}

.hero-section {
  width: 100%;
  height: 800px;
  background-image: url("./Assets/coffeeImage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: yellow;
  z-index: -1;
  padding: 100px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-section h1 {
  color: white;
  font-size: 50px;
}

.card-section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  padding: 50px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card img {
  width: 250px;
  height: 250px;
}

.card h1 {
  font-size: 20px;
}

.card p {
  font-size: 14px;
}

.card button {
  background-color: white;
  color: green;
  border: 1px solid green;
  padding: 15px 45px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: green;
  border: none;
  color: white;
}
